.home {
    height: 100vh;
}

.header-box {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}
.content span {

    color: #ff8159;
}