.card-skill{
    width: 200px;
    box-shadow: 1px 1px 4px 0px #ccc;
    border: "none"
}
.item-skill {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.item-skill:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}