.question {
    text-align: left;
    box-shadow: 1px 1px 4px 0px #f8131350;
    min-height: 30vh;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 30px;
}
.question h2  {
    display: flex;
    align-items: center;
    text-align: center;
}

.question h2 p {
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
}

.question__button {
    border-radius: 25px;
    color: #02c2e8;
    background-color: rgb(225, 250, 254);
    border: none;
    min-width: 100px;
    padding: 10px 15px;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 1px 1px 4px 0px #02c2e8;

}

.btn-submit {
    background-color: rgb(253, 240, 240);
    color: #ff5252;
    box-shadow: 1px 1px 4px 0px #ff5252;

}



.question__action {
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
}

.question__item {
    box-shadow: 1px 1px 4px 0px #888787cb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.question__item:hover {
    box-shadow: 1px 1px 4px 0px #f8131350;
}

.bbbb {
   padding: 0 7px;
   padding-bottom: 10px;

}

.action {
    box-shadow: 1px 1px 4px 0px #02c2e8;
    border: 2px solid #02c2e8;
}

.action_success {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: #e4e0e0;
}

.action_fail {
    background-color: #FF5252;
    border: 2px solid #FF5252;
    color: #e4e0e0;

}

.correctAnswer {
    display: flex;
    align-items: center;
}
.correctAnswer p{
    padding-left: 10px;
    color: #4CAF50;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}